.page-row-profile-edit {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
}
.open-profile-edit {
    padding-top: 50px;
    width: 100%;
}
.profile-head-profile-edit {
    padding-top: 50px;
    height: 100%;
    color: #887569;
}
.page-middle-profile-edit {
    position: relative;
    display: block;
    padding: 0 17%;
    width: 66%;
}
.title-order-profile-edit {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.42857rem;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 2.14286rem;
}
.data-order-profile-edit {
    width: 100%;
}
.form-item-profile-edit {
    display: flex;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}
input:disabled {
    background: #f5f5f7;
    color: #afb0b4;
    border-color: #e8e9eb;
}
.filter-head-profile-edit {
    width: 70%;
    height: 42px;
    padding: 12px 11px;
    font-size: 14px;
    box-sizing: border-box;
    color: #887568;
    border: 1px solid #dbd7d2;
    transition: border-color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.catalog-filter-title-profile-edit {
    position: relative;
}
.form-item-rpofile-edit {
    width: 100%;
    display: flex;
}
.checkbox-edit {
    display: flex;
}
.checkbox-input {
    position: absolute;
    opacity: 0;
    left: -9999px;
}
.checkbox-label {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    padding-left: 2.9285714286rem;
    min-height: 30px;
}
.checkbox-label::before {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    margin-right: 0.7857142857rem;
    border: 1px solid #dbd7d2;
    box-sizing: border-box;
}
.checkbox-input:checked + .checkbox-label::after {
    transform: scale(1);
}
.checkbox-input:checked + .checkbox-label::after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    transition: transform 0.2s;
    position: absolute;
    top: 15px;
    left: 10px;
    background: #c5a995;
}
.checkbox-label-text {
    & u {
        font-size: 14px;
    }
}
.errors-formik-edit {
    color: #8d0624;
    position: absolute;
    top: 45px;
    font-size: 12px;
}
.update-success {
    position: relative;
    position: fixed;
    width: 470px;
    height: 130px;
    opacity: 1;
    top: 50%;
    left: 53%;
    background: #fff;
    border: 1px solid #e8e9eb;
    border-radius: 4px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    & p {
        margin-top: 30px;
        font-size: 20px;
        color: #887568;
        text-align: center;
        padding-top: 20px;
    }
}
.cancel-button {
    position: absolute;
    top: 5px;
    left: 430px;
    & img {
        width: 35px;
        height: 35px;
    }
}
@media (min-width: 1024px) {
    .form-field {
        min-height: 1px;
        display: table-cell;
        vertical-align: middle;
        width: 70.4%;
        position: relative;
    }
}
.select-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #dbd7d2;
    background-color: transparent;
    outline: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0.8571428571rem 0.7857142857rem;
    color: #887568;
    box-sizing: border-box;
}
.select-block::after {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    border: solid #a2a4a7;
    border-width: 0 1px 1px 0;
    position: absolute;
    right: 11px;
    top: 50%;
    margin-top: -4px;
    transform: rotate(45deg);
    pointer-events: none;
}
.catalog-filter-icon-profile-edit {
    // margin: 2px 0 0 10px;
    top: 0px;
    left: 250px;
    position: absolute;

    & img {
        height: 10px;
        width: 10px;
    }
}
.selectList-profile-edit {
    position: absolute;
    min-width: 70%;
    max-height: 400px;
    top: -10px;
    left: 30%;
    z-index: 10;
    margin-top: 8px;
    overflow: auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
    cursor: pointer;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .page-middle-profile-edit {
        width: 100%;
    }
    .page-row-profile-edit {
        margin: 0;
    }
    .profile-head-profile-edit {
        margin: 0 40px;
    }
    
}
@media (max-width: 1024px) {
    .page-row-profile-edit {
        margin: 0;
    }
    .profile-head-profile-edit {
        margin: 0 14px;
    }
    .form-popup-order {
        padding: 0;
    }
    .page-middle-profile-edit {
        width: 100%;
        padding: 0;
    }
    .form-item-profile-edit{
        flex-direction: column;
    }
    .form-item-title{
     text-align: left;
      margin-bottom: 5px;
     width: 100%;
    }
    .input-control{
        width: 100% !important;
    }
    .select-block::after {
        top: 70%;
      
    }
    
    .checkbox-label{
 vertical-align: middle;
    }
     .checkbox-label-text{
     margin-top: 10px;
    
       
    }
}
@media (max-width: 783px) {
    .checkbox-label-text{
        margin-top: 0;
       
           
        }
}
